@charset "UTF-8";
/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'times', "source-han-serif-tc", serif, "Microsoft JhengHei";
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'times', "source-han-serif-tc", sans-serif, "Microsoft JhengHei";
}

*:hover {
  -webkit-transition: all .3s ease-in;
  /* Safari */
  transition: all .3s ease-in;
}

h1 {
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-size: 3em;
  line-height: 1.15;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  line-height: 1.2;
  font-weight: 600;
  color: #4A4A4A;
  font-size: 2.5em;
}

h4 {
  font-size: 24px;
}

p, li {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
  color: #4A4A4A;
  line-height: 1.9;
  letter-spacing: .05em;
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
}

a {
  color: #111;
  cursor: pointer;
  -moz-transition: all, 0.5s, ease-in;
  -o-transition: all, 0.5s, ease-in;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: underline;
}

hr {
  margin: 50px auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul, li {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  list-style: none;
}

.container.same-height > .row {
  display: -webkit-flex;
  display: flex;
}
.container.same-height > .row > [class*="col"] {
  display: -webkit-inline-flex;
  display: inline-flex;
}
@media only screen and (max-width: 767px) {
  .container.same-height > .row {
    display: block;
  }
  .container.same-height > .row > [class*="col"] {
    display: block;
  }
}

.close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #111;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(74, 74, 74, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#334A4A4A,endColorstr=#334A4A4A);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #4A4A4A;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-backdrop.in {
  opacity: .9;
}

.modal-backdrop {
  background: #fff;
}
.modal-backdrop.in {
  opacity: .9;
}

.modal-content {
  box-shadow: none;
  height: 100%;
  border: 0;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}

.modal-content {
  margin: 0 auto;
}
.modal-content h4 span {
  font-size: 18px;
  padding-left: 10px;
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
}
.modal-content h4 span:before {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}
.modal-content img {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 100%;
  }
}

.modal-body {
  height: 100%;
}

.btn {
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
}

.btn-default {
  background: #111;
  color: #fff;
  font-size: 1.25em;
}
.btn-default:hover, .btn-default:focus, .btn-default:active:focus, .btn-default.active:focus, .btn-default.focus, .btn-default:active.focus, .btn-default.active.focus {
  background: #f7f4ed;
  box-shadow: none;
}
.btn-default a {
  color: #fff;
  display: block;
}
.btn-default a:hover, .btn-default a:focus, .btn-default a:active:focus, .btn-default a.active:focus, .btn-default a.focus, .btn-default a:active.focus, .btn-default a.active.focus {
  background: #f7f4ed;
  box-shadow: none;
  color: #111;
}

div.btn-default {
  padding: 0;
}
div.btn-default a {
  padding: 6px 12px;
  text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
}

.select-block {
  position: relative;
}
.select-block .down {
  position: absolute;
  right: 12px;
  height: 10px;
  top: 5px;
  color: #666;
}

.navbar-header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 50px 0 0;
  *zoom: 1;
}
.navbar-header:after, .navbar-header:before {
  content: "";
  display: table;
}
.navbar-header:after {
  clear: both;
}
.navbar-header .navbar-brand {
  float: none;
  margin: 0 auto;
  display: block;
  height: auto;
  padding: 0 15px;
}
.navbar-header .navbar-brand img {
  height: 32px;
  margin: 0 auto;
}
.navbar-header .navbar-brand:after {
  border-bottom: 1px solid #ddd;
  display: block;
  content: "";
  padding-top: 20px;
  width: 120px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .navbar-header {
    width: auto;
  }
  .navbar-header .navbar-brand {
    float: left;
    padding: 0 10px;
    height: 40px;
    margin: 30px 0 10px;
  }
  .navbar-header .navbar-brand img {
    height: 26px;
  }
  .navbar-header .navbar-brand:after {
    border-bottom: 0;
  }
}

.navbar-default {
  background: #fff;
  border: none;
  padding: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.navbar-default .navbar-toggle {
  font-weight: 700;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ddd;
}
.navbar-default.navbar-fixed-top .navbar-collapse, .navbar-default.navbar-fixed-bottom .navbar-collapse {
  max-height: 460px;
  padding: 0;
}
.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav {
    width: auto;
    margin: 0;
  }
}
.navbar-default .nav > li {
  border: none;
  margin-left: -1px;
  float: none;
  display: inline-block;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
}
.navbar-default .nav > li.active {
  background: #fff;
}
.navbar-default .nav > li > a {
  font-size: 22px;
  letter-spacing: .1em;
  line-height: 50px;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
  color: #111;
  padding: 0 13px;
  font-weight: bold;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background: rgba(247, 244, 237, 0.6);
  color: #111;
  text-decoration: none;
}
.navbar-default .nav > li .open > a {
  background: #fff;
  color: #111;
}
.navbar-default .nav > li .open > a:hover, .navbar-default .nav > li .open > a:focus {
  background: #fff;
  color: #111;
}
@media only screen and (max-width: 767px) {
  .navbar-default .logo {
    margin: 4px 0;
    line-height: 28px;
  }
  .navbar-default .nav > li {
    display: block;
  }
  .navbar-default .nav > li a.dropdown-toggle:hover, .navbar-default .nav > li a.dropdown-toggle:focus {
    border-bottom: 1px solid #FFE266;
  }
  .navbar-default .nav > li.active {
    background: #fff;
  }
  .navbar-default .nav > li > a {
    font-size: 20px;
    padding: 6px 0 8px;
    border-left: 0 !important;
    border-bottom: 1px solid #ddd;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-default {
    font-size: 16px;
  }
  .navbar-default .navbar-header {
    padding: 0 15px;
  }
  .navbar-default .navbar-toggle {
    padding: 6px 15px;
    margin: 26px 0 0;
    font-size: 1.25em;
    border: 0;
  }
}

.main-container {
  padding-top: 200px;
}
.main-container h2, .main-container h3 {
  text-align: center;
}
.main-container h3 {
  font-size: 24px;
  color: #846531;
  font-weight: normal;
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
}
#about .main-container h2, #about .main-container h3 {
  text-align: left;
  margin-bottom: 20px;
}
#about .main-container p {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .main-container {
    padding-top: 100px;
  }
}

.container {
  height: auto;
  *zoom: 1;
}
.container:after, .container:before {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid .grid-sizer, .grid .grid-item {
  width: 20%;
}
.grid .grid-sizer img, .grid .grid-item img {
  padding: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid .grid-sizer, .grid .grid-item {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .grid .grid-sizer, .grid .grid-item {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  .grid .grid-sizer, .grid .grid-item {
    width: 33.3%;
  }
}
@media only screen and (max-width: 767px) {
  .grid .grid-sizer, .grid .grid-item {
    width: 50%;
  }
}
.grid .grid-item {
  float: left;
}
.grid .grid-item img {
  display: block;
  max-width: 100%;
}

.lSAction > a {
  background-image: none;
  width: 60px;
  height: 60px;
  top: 48%;
  cursor: pointer;
  z-index: 9;
  background: #111;
  text-decoration: none;
  opacity: 1;
  text-align: center;
  line-height: 60px;
}
.lSAction > a:after {
  font-family: "FontAwesome";
  display: block;
  font-size: 30px;
  color: #fff;
}
.lSAction > a.lSNext {
  right: 9px;
}
.lSAction > a.lSNext:after {
  content: "";
  padding-left: 4px;
}
.lSAction > a.lSPrev {
  left: 9px;
}
.lSAction > a.lSPrev:after {
  content: "";
  padding-right: 4px;
}
@media only screen and (max-width: 768px) {
  .lSAction > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .lSAction > a.lSNext {
    right: 0;
  }
  .lSAction > a.lSPrev {
    left: 0;
  }
}

.gallery-slider {
  width: 80%;
  margin: 0 auto;
}
.gallery-slider ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
.gallery-slider ul li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
  text-align: center;
}
.gallery-slider ul li img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-slider ul.lightSlider li {
  height: 600px;
}
@media only screen and (max-width: 768px) {
  .gallery-slider {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .gallery-slider ul.lightSlider li {
    height: 800px;
  }
}
@media screen and (max-width: 480px) {
  .gallery-slider ul.lightSlider li {
    height: 560px;
  }
}
@media screen and (max-width: 375px) {
  .gallery-slider ul.lightSlider li {
    height: 520px;
  }
}
@media only screen and (max-width: 320px) {
  .gallery-slider ul.lightSlider li {
    height: 435px;
  }
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
}

footer {
  padding: 20px 10px;
  text-align: center;
  font-size: 16px;
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
  margin-top: 40px;
}
footer .info {
  padding: 20px 0;
  text-align: right;
}
footer .info li {
  font-size: 16px;
  line-height: 1.8;
}
footer .copyright {
  margin-top: 20px;
  padding: 10px;
  padding-top: 40px;
  margin: 0 auto;
  text-align: left;
}
footer .copyright li {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
}
@media only screen and (max-width: 767px) {
  footer .info {
    text-align: center;
  }
  footer .copyright {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  footer .copyright li {
    font-size: 13px;
  }
}

.store-list {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.store-list h4 {
  margin-bottom: 0;
  text-align: center;
}
.store-list .info {
  *zoom: 1;
  padding: 7px 0;
}
.store-list .info:after, .store-list .info:before {
  content: "";
  display: table;
}
.store-list .info:after {
  clear: both;
}
.store-list .info > a {
  font-size: 1.25em;
  font-family: 'helvetica', 'Arial', sans-serif, "Microsoft JhengHei";
  padding-left: 0;
}
.store-list .info > a:hover {
  color: #b00016;
}
.store-list .info .btn i {
  padding-right: 10px;
}
.store-list .info div.btn.col-xs-5 {
  padding: 0;
}
@media screen and (max-width: 375px) {
  .store-list .info > a {
    padding-right: 0;
  }
  .store-list .info [class*=col-xs] {
    width: 100%;
  }
}
.store-list p span {
  font-size: 16px;
}

.store-wrapper {
  width: 100%;
  height: 92%;
  position: relative;
  overflow: hidden;
}
.store-wrapper .store {
  width: 100%;
  height: 100%;
}
.store-wrapper .store .store-map {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #111;
}
.store-wrapper .btn {
  position: absolute;
  left: 5%;
  bottom: 10px;
  width: 90%;
}
.store-wrapper .btn a {
  padding: 12px;
}

#nav .nav {
  background: #111;
}
#nav .nav a {
  color: black;
  font-style: italic;
}
#nav .nav li a:hover,
#nav .nav li a:focus {
  background: #86c5da;
}
#nav .nav .active {
  font-weight: bold;
  background: #72bcd4;
}
#nav .nav .active .nav {
  display: block;
}
#nav .nav .nav a {
  font-weight: normal;
  font-size: .85em;
}
#nav .nav .nav span {
  margin: 0 5px 0 2px;
}
#nav .nav .nav .active a,
#nav .nav .nav .active:hover a,
#nav .nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}
#nav .nav .nav .active span,
#nav .nav .nav .active:hover span,
#nav .nav .nav .active:focus span {
  display: none;
}
#nav .application {
  border-top: 1px solid #c1e1ec;
}
#nav .affix-top {
  position: relative;
}
#nav .affix {
  top: 180px;
}
#nav .affix,
#nav .affix-bottom {
  width: 213px;
}
#nav .affix-bottom {
  position: absolute;
}

@media (min-width: 1200px) {
  .affix,
  .affix-bottom {
    width: 263px;
  }
}
